LINKEDIN_CONNECTOR_HOST=127.0.0.1
LINKEDIN_CONNECTOR_PORT=8765
LINKEDIN_CONNECTOR_DEFAULT_LIMIT=50
LINKEDIN_CONNECTOR_MAX_LIMIT=100
LINKEDIN_CONNECTOR_CACHE_TTL_SECONDS=300
LINKEDIN_CONNECTOR_PROVIDER_TIMEOUT_SECONDS=5
LINKEDIN_CONNECTOR_PROVIDER_RETRIES=2
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
LINKEDIN_REDIRECT_URI=http://127.0.0.1:8787/callback
LINKEDIN_SCOPES=openid profile email
